@import '@/styles/variables.scss';

.faq-accordion {
   background: $text-white;
   border-radius: 8px;
   margin-bottom: 1rem;
   box-shadow: 0 2px 4px rgba($text-dark, 0.05);
   overflow: hidden;

   &.active {
      .accordion-header {
         background-color: $point-color-1;
      }

      .accordion-content {
         max-height: 500px;
         padding: 1.5rem;
      }
   }

   .accordion-header {
      width: 100%;
      padding: 1.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      background: $text-white;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
         background-color: rgba($point-color-1, 0.1);
      }

      .question {
         display: flex;
         align-items: center;
         gap: 1rem;
         font-weight: 500;
         color: $text-dark;

         .q-mark {
            font-size: 1.2rem;
            font-weight: 700;
            color: $point-color-2;
         }
      }

      i {
         color: $text-gray;
         transition: transform 0.3s ease;
      }
   }

   .accordion-content {
      max-height: 0;
      padding: 0 1.5rem;
      overflow: hidden;
      transition: all 0.3s ease;
      background-color: rgba($text-white, 0.5);

      .answer {
         display: flex;
         gap: 1rem;
         padding: 0.5rem 0;

         .a-mark {
            font-size: 1.2rem;
            font-weight: 700;
            color: $main-color-1;
         }

         p {
            margin: 0;
            color: $text-dark;
            line-height: 1.6;
         }
      }
   }
}
